html,
body {
    color: $color-fg;
    margin: 2rem 1rem 0.5rem 1rem;
    padding: 0;
    max-width: 100vw;
}

html {
    font-family: $sans-serif;
    font-size: 16px;
    overflow-y: auto;
    margin: 0;
}

body {
    background-color: $color-bg;
}

a {
    @include transition(color .2s ease-out);    
    color: $color-fg;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, b, a {
    font-family: $sans-serif;
}

h1 {
    font-size: 7rem;
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
}

h1.page-title {
    text-align: center;
    font-size: 5rem;
}

@media screen and (max-width: $break-large) {
    h1 {
        font-size: calc(min(7rem, 15vw));
    }

    h2 {
        font-size: calc(min(3rem, 8vw))!important;
    }
}

///////////////////////
//   LATERAL-MENU    //
///////////////////////
.lateral-menu {
    display: flex;
    flex-direction: column; // Stack items vertically for phones if needed
    justify-content: flex-start;
    width: 100%; /* Stretch the menu across the screen */
    padding: 5px 0;
    top: 0; /* Pin it to the top */
    background-color: $color-bg;
    z-index: 999; /* Ensure it stays above other content */

    .menu-item-container {
        margin: 0;
        flex-grow: 1; /* Make each menu item take up equal space */
        text-align: center;
        margin-bottom: 10px; // Add some space between items when stacked

        .menu-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
            color: white;
            padding: 8px 10px;
            border-radius: 20px;
            transition: all 0.3s ease;
            width: 100%;
            height: 40px;

            .menu-icon {
                font-size: 18px; // Slightly smaller for mobile
                margin-right: 5px;
            }

            .menu-label {
                font-size: 12px; // Slightly smaller text for mobile
                font-weight: 600;
            }
        }
    }
}

///////////////////////
// END: LATERAL-MENU //
///////////////////////