/* MIXIN */
@mixin styled-button($color-font-and-border) {
    background-color: $color-background;
    color: $color-font-and-border;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 0;
    margin: 30px auto 0px;
    border: 3px solid $color-font-and-border;
}

@mixin styled-button-hover($hover-background-color) {
    color: $color-background;
    background-color: $hover-background-color;
}
/* END: MIXIN */

/* ANIMATIONS */
.animate__bounceInRight, .animate__bounceInLeft {
    animation-delay: 0s;
}
.animate__bounceIn {
    animation-delay: 0.75s;
}
/* END: ANIMATIONS */

/* SCROLLBAR */
::-webkit-scrollbar { /* width */
    width: 15px;
}

::-webkit-scrollbar-track { /* Track */
    background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb { /* Handle */
    background-color: rgba(255, 255, 255, 0.8);
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background-color: $color-secondary;
}
/* END: SCROLLBAR */