.column {
    flex: 1;
}

main {
    display: flex;
    margin-top: 10vh;

    .column.left {
        text-align: end;
    }

    .column.right {
        h1 {
            margin-left: -10px; /* Correction for margin of leftmost character. */
            margin-bottom: 0.4em;
        }

        h2 {
            margin-left: -4px; /* Correction for margin of leftmost character. */
            margin-top: 0;
        }

        .links {
            margin-top: 2.5rem;
            font-size: 1.5rem;

            a {
                // text-decoration: none;

                text-decoration: overline;
                text-decoration-thickness: 0.15rem;
            }
        }
    }

    nav.nav-index {
        ul {
            display: flex;
            justify-content: flex-end;

            li {
                list-style-type: none;
                a {
                    text-decoration: overline;
                    text-decoration-thickness: 0.3rem;
                    font-size: 2.5rem;

                    margin-right: 117px;
                }
            }
        }
    }

    nav.nav-projects {
        ul {
            display: flex;
            justify-content: center;

            li {
                list-style-type: none;
                padding-right: 3rem;
                a {
                    text-decoration: overline;
                    text-decoration-thickness: 0.3rem;
                    font-size: 2.5rem;
                }
            }
        }
    }

    @media screen and (max-width: $break-large) {
        flex-direction: column;
        margin-top: 0;

        .column.left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .column.right h1 {
            margin-top: 0;
        }

        img.portrait {
            margin: 0;
        }

        nav.nav-index {
            ul {
                padding: 0px;
                margin: 0px 0px 16px 0px;
                li {
                    a {
                        padding: 0px;
                        margin: 0px;
                    }
                }
            }
        }
    }

    .project-card {
        position: relative;
        margin-bottom: 2rem;

        .project-image {
            position: relative;
            overflow: hidden;
            border-radius: 3%;

            a {
                text-decoration: none;
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .project-details-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 96, 96, 0.9); /* When activated 0.9 opacity */
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                opacity: 0; /* Hidden by default */
                transition: opacity 0.3s ease-in-out; /* Smooth transition effect */

                .card-title {
                    font-weight: bold;
                    color: $color-secondary;
                }
                .card-technology {
                    margin-top: 0.2rem;
                    font-size: 12px;
                    font-weight: 600;
                    color: $color-foreground;
                }
                .learn-more-button {
                    background-color: $color-background;
                    color: $color-secondary;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 12px 30px;
                    border-radius: 0;
                    margin: 30px auto 0px;
                    border: 3px solid $color-secondary;
                }
            }
        }

        &:hover {
            .project-details-overlay {
                opacity: 1;
                border-radius: 3%;
            }

            .project-image {
                transform: translateY(20px);
                transition: transform 0.5s;
            }
            .learn-more-button:hover {
                color: $color-background;
                background-color: $color-secondary;
            }
        }
    }
}

footer {
    margin-top: 3rem;
    font-size: 0.75rem;

    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }
}
