main {
    display: flex;
    margin-top: 5vh;
    
    .column.left {
        flex: 3;
        text-align: end;
    }

    .column.right {
        flex: 4;

        h1 {
            margin-left: -10px; /* Correction for margin of leftmost character. */
            margin-bottom: 0.4em;
        }

        h2 {
            margin-left: -4px; /* Correction for margin of leftmost character. */
            margin-top: 0;
        }

        .links {
            margin-top: 2.5rem;
            font-size: 1.5rem;
        }
    }

    /* MIXIN */
    @mixin styled-button($color-font-and-border) {
        background-color: $color-background;
        color: $color-font-and-border;
        font-weight: bold;
        text-decoration: none;
        padding: 12px 30px;
        border-radius: 0;
        margin: 30px auto 0px;
        border: 3px solid $color-font-and-border;
    }

    @mixin styled-button-hover($background-color) {
        color: $color-background;
        background-color: $background-color;
    }
    /* END: MIXIN */

    /* INDEX */
    nav.nav-index {
        ul {
            display: flex;
            justify-content: flex-end;

            li {
                list-style-type: none;

                a.projects-button  {
                    @include styled-button($color-foreground);

                    font-size: 2rem;
                    margin-right: 90px; /* Centrado */
                    &:hover {
                        @include styled-button-hover($color-foreground);
                    }
                }
            }
        }
    }
    /* END: INDEX */

    /* PROJECTS */
    nav.nav-projects {
        ul {
            display: flex;
            justify-content: center;

            li {
                list-style-type: none;
                padding-right: 3rem;
                a {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .presentation-text {
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .filter-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
    
        .filter-button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 5px 20px;
            margin: 0 5px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-foreground;
            transition: color 0.3s ease-in-out;
    
            &:hover {
                color: $color-secondary;
            }
        }
    }

    .project-card {
        position: relative;
        margin-bottom: 2rem;
        cursor: default;

        .project-image {
            position: relative;
            overflow: hidden;
            border-radius: 3%;

            a {
                text-decoration: none;
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .project-details-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 96, 96, 0.9); /* When activated 0.9 opacity */
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                opacity: 0; /* Hidden by default */
                transition: opacity 0.3s ease-in-out; /* Smooth transition effect */

                .card-title {
                    font-weight: bold;
                    color: $color-secondary;
                }
                .card-technology {
                    margin-top: 0.2rem;
                    font-size: 12px;
                    font-weight: 600;
                    color: $color-foreground;
                }
                .learn-more-button {
                    @include styled-button($color-secondary);
                }
            }
        }

        &:hover {
            .project-details-overlay {
                opacity: 1;
                border-radius: 3%;
            }

            .project-image {
                transform: translateY(20px);
                transition: transform 0.5s;
            }
            .learn-more-button:hover {
                @include styled-button-hover($color-secondary);
            }
        }
    }
    /* END: PROJECTS */
    
    /* RESPONSIVE */
    @media screen and (max-width: $break-large) {
        flex-direction: column;
        margin-top: 0;

        .column.left {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .column.right h1 {
            margin-top: 0;
        }

        img.portrait-index {
            margin: 0;
        }

        nav.nav-index {
            margin-bottom: 30px;
            ul {
                padding: 0px;
                margin: 0px 0px 16px 0px;
                li {
                    a.projects-button {
                        margin: auto;
                    }
                }
            }
        }
    }
    /* END: RESPONSIVE */

}

footer {
    margin-top: 3rem;
    font-size: 0.75rem;

    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }
}