main {
    display: flex;
    margin-top: 5vh;
    
    .column.left {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 3;
        text-align: end;
    }

    .column.right {
        flex: 4;

        h1 {
            margin-bottom: 0.3em;
        }

        h2 {
            margin-top: 0;
            margin-bottom: 1.5rem;
        }
    }
}

footer {
    margin: 1rem auto;
    font-size: 0.75rem;
    text-align: center;
    a {
        color: $color-fg-secondary;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: $break-large) {
        flex-direction: column;
    }
}