@mixin styled-button($color-font-and-border, $hover-background-color) {
    font-size: 2rem;
    padding: 12px 30px;
    border: 3px solid $color-font-and-border;
    color: $color-font-and-border;
    background-color: $color-bg;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        color: $color-bg;
        background-color: $hover-background-color;
    }
    
    // TABLET
    @media screen and (max-width: $break-medium) {
        font-size: 1.6rem;
        padding: 12px 25px;
        border: 2px solid $color-font-and-border;
        font-weight: normal;
    }
    
    // PHONE
    @media screen and (max-width: $break-small) {
        &:not(.index-nav) {
            font-size: 1rem;
            padding: 10px 8px;
            border: 2px solid $color-font-and-border;
            font-weight: normal;
        }
    }
}

@mixin underline-effect($after-position, $bottom, $hover-color) {
    position: relative;

    &::after {
        content: '';
        position: $after-position;
        width: 0;
        height: 1px;
        display: block;
        background: $color-fg;
        transition: 0.25s;
        bottom: $bottom;
    }

    &:hover::after {
        width: 100%;
        background-color: $hover-color;
    }
}

@mixin blog-cards-and-blog-post-styles() {
    max-width: 700px;
    padding-top: 1.5rem;
    margin: 0 auto;
    
    .presentation-text {
        text-align: center;
        margin-bottom: 2rem;
        text-wrap: balance;
        color: $color-fg-secondary;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    }
}
