@mixin styled-button($color-font-and-border, $hover-background-color) {
    font-size: 2rem;
    padding: 12px 30px;
    border: 3px solid $color-font-and-border;
    color: $color-font-and-border;
    background-color: $color-background;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        color: $color-background;
        background-color: $hover-background-color;
    }
    
    // TABLET
    @media screen and (max-width: $break-medium) {
        font-size: 1.6rem;
        padding: 12px 25px;
        border: 2px solid $color-font-and-border;
        font-weight: normal;
    }
    
    // PHONE
    @media screen and (max-width: $break-small) {
        &:not(.index-nav) {
            font-size: 1rem;
            padding: 10px 8px;
            border: 2px solid $color-font-and-border;
            font-weight: normal;
        }
    }
}

@mixin underline-effect($after-position, $bottom, $hover-color) {
    position: relative;

    &::after {
        content: '';
        position: $after-position;
        width: 0;
        height: 1px;
        display: block;
        background: $color-foreground;
        transition: 0.25s;
        bottom: $bottom;
    }

    &:hover::after {
        width: 100%;
        background-color: $hover-color;
    }
}