@mixin styled-button($color-font-and-border, $hover-background-color) {
    font-size: 2rem;
    padding: 12px 30px;
    border: 3px solid $color-font-and-border;
    color: $color-font-and-border;
    background-color: $primary-bg;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
        color: $primary-bg;
        background-color: $hover-background-color;
    }
    
    // TABLET
    @media screen and (max-width: $break-medium) {
        font-size: 1.6rem;
        padding: 12px 25px;
        border: 2px solid $color-font-and-border;
        font-weight: normal;
    }
    
    // PHONE
    @media screen and (max-width: $break-small) {
        &:not(.index-nav) {
            font-size: 1rem;
            padding: 10px 8px;
            border: 2px solid $color-font-and-border;
            font-weight: normal;
        }
    }
}

@mixin underline-effect($after-position, $bottom, $hover-color) {
    position: relative;

    &::after {
        content: '';
        position: $after-position;
        width: 0;
        height: 1px;
        display: block;
        background: $text-color;
        transition: 0.25s;
        bottom: $bottom;
    }

    &:hover::after {
        width: 100%;
        background-color: $hover-color;
    }
}

@mixin card-a-colors-dark {
    background-color: $secondary-bg;
    border: 4px solid $accent-color;
}
@mixin card-b-colors-dark {
    background-color: $tertiary-bg;
    border: 1px solid $accent-color;
}

@mixin tag-styling {
    min-width: fit-content;

    &.tag-recommended {
        background: $recommended-gradient;
    }

    &.tag-for-beginners {
        background: $for-beginners-gradient;
    }

    &.tag-default {
        background: $default-tag-gradient;
    }
}

@mixin tag-styling-plain {
    min-width: fit-content;
    
    &.tag-recommended-plain {
        background-color: $recommended-plain;
    }

    &.tag-for-beginners-plain {
        background-color: $for-beginners-plain;
    }

    &.tag-default-plain {
        background-color: $default-tag-plain;
    }
}