@media screen and (min-width: $break-medium) {
    html {
        overflow-y: scroll;
    }
}

body {
    @media screen and (min-width: $break-medium) {
        .lateral-menu {
            display: flex;
            align-items: flex-end;
            position: fixed;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            flex-direction: column;
            z-index: 1000;
            width: unset;
            background-color: transparent;
    
            .menu-item-container {
                margin: 10px 0;
                text-align: center;
                
                .menu-item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    background-color: black;
                    color: white;
                    padding: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                    white-space: nowrap;
                    min-width: 60px;
                    height: 60px;
                    position: relative;
                    
                    width: 60px;
                    max-width: 60px;
                    transition: max-width 0.4s ease, border-radius 0.25s ease;
    
                    &:hover {
                        max-width: 200px;
                        width: fit-content;
                        border-radius: 30px;
    
                        .menu-label {
                            opacity: 1;
                            transform: translateX(0);
                        }

                        .menu-icon {
                            transform: translateX(-6px) scale(1.15);
                            transition: transform 0.25s ease; 
                        }
                    }

                    &:not(:hover) .menu-label {
                        opacity: 0;
                        transition: opacity 0s ease, transform 0s ease; /* Instant disappear on unhover */
                    }
                    
                    .menu-icon {
                        opacity: 0.9;
                        font-size: 24px;
                        transition: transform 0.25s ease;
                        margin: 0 6px 0 0;
                    }
    
                    .menu-label {
                        visibility: visible; /* Keep visible, but control appearance with opacity */
                        opacity: 0; /* Hidden initially */
                        font-size: 1rem;
                        margin: 0 12px 0 12px;
                        transform: translateX(20px);
                        transition: opacity 0.25s ease, transform 0.25s ease;
                        font-family: Andika, 'Courier New', Courier, monospace;
                        font-weight: 700;
                    }
                }
            }
        }
    
        .fab-button {
            display: none;
        }
    }

    main {
        @media screen and (min-width: $break-medium) {
            .column.right .description{
                padding-right: 5rem;
            }
        }
        
        /* Phone & tablets: column left goes on top of column right */
        @media screen and (max-width: $break-large) {
            flex-direction: column;
            margin-top: 0;
        
            .column.left {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                nav.nav-index {
                    margin-bottom: 30px;
                    ul {
                        padding: 0px;
                        margin: 0px 0px 16px 0px;
                        li {
                            a.menu-item {
                                margin: auto;
                            }
                        }
                    }
                }
                
                img.portrait-index {
                    margin: 0;
                }
            }
            
            .column.right {
                h1 {
                    margin-top: 0;
                }
            }    
        }
        @media screen and (max-width: $break-medium) {
            .filter-buttons {
                flex-direction: column;
                gap: 0.4rem;
                margin: 2vw 4vw;

                .filter-toggle-button {
                    display: block; // Show the toggle button only on mobile
                }
    
                .filter-dropdown {
                    display: none; // Initially hide filter options on mobile
                    flex-direction: column;
                    background: $color-bg;
                    padding: 10px;
                    gap: 0.4rem;
                    margin-top: 0.4rem;
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    &.show {
                        display: flex;
                    }

                    .filter-button {
                        margin: 5px 0;
                        border-radius: 5px;

                        &:not(.selected-filter) { // Disable hover effect on mobile
                            background-color: darken($color-fg-secondary, 33%)!important;
                            color: $color-bg!important;
                        }
                    }
                }
            }
        }

        @media (min-width: $break-extra-large) {
            #sponsor #section-tiers .tier-cards {
                flex-direction: row;
                .tier-card {
                    .tier-card-header {
                        h1 {
                            font-size: 1.0rem;
                            margin-bottom: 0.65rem;
                        }
                        small {
                            font-size: 0.75rem;
                        }
                        .tier-card-content {
                            p {
                                font-size: 1.35rem;
                            }
                            li {
                                font-size: 0.85rem;
                            }
                        }
                    }
                }
            }
            #sponsor #section-contribution .contribution {
                .donation-options {
                    flex-direction: row;
                    gap: 10px;
                }
            }
        }
    }
}