@import 'variables';
@import 'mixins';

nav.nav-shared {
    margin-top: -1.2rem;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        li {
            list-style-type: none;
            a {
                &.menu-item {
                    @include styled-button($text-color, $text-color);
                    font-size: 2.5rem;
                }

                img.portrait-menu-item {
                    box-sizing: border-box;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 4px solid $text-color;
                    width: 100%;
                    height: auto;
                    max-width: 80px;
                    max-height: 80px;
                    
                    &:hover {
                        transform: rotate(1turn);
                        transition: transform 1s cubic-bezier(.67,.28,.54,.89);
                    }
                }
                
            }
        }
    }
}