// Variables
$primary-bg: #006060;
$secondary-bg: #0e3c3c;
$tertiary-bg: #185146;
$menu-item-bg: #000000;

$text-color: #ffffff;
$accent-color: #4ff5f5;


// Fonts
$sans-serif: Montserrat, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

// Responsive breaks
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}
