@import 'main';

.column.right {
    .blog-cards {
        @include blog-cards-and-blog-post-styles();

        a.blog-card {
            .blog-title {
                font-family: Andika;
            }

            .blog-card-details {
                display: flex;
                justify-content: space-between;
                gap: 2rem;

                .card-description {
                    font-weight: light;
                    opacity: .7;
                }
                .card-date {
                    font-style: italic;
                    min-width: fit-content;
                    font-family: Andika;
                }
            }
        }
    }
}
