@import 'main';

.column.right {
    .blog-cards {
        @include blog-cards-and-blog-post-styles();

        .blog-card {
            h3 {
                a.blog-title {
                    @include underline-effect(absolute, 0px, $color-foreground);
                }
            }
            .blog-card-details {
                display: flex;
                justify-content: space-between;
                gap: 2rem;

                .card-description {
                    font-weight: light;
                }
                .card-date {
                    font-style: italic;
                    min-width: fit-content;
                }
            }
        }
    }
}
