@import 'main';

.column.left {
    img.portrait-index {
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 50%;
        border: 10px solid $text-color;
        margin: 2em 3em;
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }
}

.column.right {
    h1.presentation-title {
        font-weight: bold;
        text-align: left;
    }
    
    h2.presentation {
        font-weight: bold;
        font-size: 2.5rem;
        
        span.less-opacity {
            opacity: 0.7;
        }
    }

    p.description {
        span.bold {
            font-weight: bold;
        }
    }

    .links {
        margin-top: 2.5rem;
        font-size: 1.5rem;
    
        p.call-to-action {
            font-weight: bold;
            font-family: Andika;
        }
        
        a {
            font-family: Andika;

            @include underline-effect(absolute, 0px, $text-color);
        }
    }
}