@import 'main';

.column.left {
    nav.nav-index {
        ul {
            display: flex;
            justify-content: flex-end;

            li {
                list-style-type: none;

                a.projects-button  {
                    @include styled-button($color-foreground, $color-foreground);

                    font-size: 2rem;
                    margin-right: 90px; /* Centered */
                }
            }
        }
    }

    img.portrait-index {
        box-sizing: border-box;
        object-fit: cover;
        border-radius: 50%;
        border: 10px solid $color-foreground;
        margin: 2em 3em;
        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }
}
.column.right {
    h2.presentation {
        font-weight: bold;
        font-size: 2.5rem;
        
        span.less-opacity {
            opacity: 0.7;
        }
    }

    p.description {
        span.bold {
            font-weight: bold;
        }
    }

    .links {
        margin-top: 2.5rem;
        font-size: 1.5rem;
    
        p.call-to-action {
            font-weight: bold;
            font-family: Andika;
        }
        a {
            font-family: Andika;

            @include underline-effect(absolute, 0px, $color-foreground);
        }
    }
}