@import 'main';

nav.nav-projects {
    nav.nav-index {
        ul {
            display: flex;
            justify-content: flex-end;

            li {
                list-style-type: none;

                a.projects-button  {
                    @include styled-button($color-foreground, $color-foreground);

                    font-size: 2rem;
                    margin-right: 90px; /* Centered */
                }
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;

        li {
            list-style-type: none;
            padding-right: 3rem;
            a {
                font-size: 2.5rem;

                img.portrait-projects {
                    box-sizing: border-box;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 4px solid $color-foreground;
                    width: 100%;
                    height: auto;
                    max-width: 80px;
                    max-height: 80px;
                    &:hover {
                        transform: rotate(1turn);
                        transition: transform 1s cubic-bezier(.67,.28,.54,.89);
                    }
                }
                
            }
        }
    }
}

h2.presentation-text {
    text-align: center;
    margin-bottom: 2rem;
    text-wrap: balance;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    button.filter-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px 20px;
        margin: 0 5px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-foreground;
        transition: color 0.3s ease-in-out;

        @include underline-effect(inline-block, -3px, $color-secondary);
    }

    button.selected-filter {
        color: $color-secondary;
        
        &:hover::after {
            width: 0%;
        }
    }
}

.project-cards-row {
    overflow: hidden;
    
    .project-card {
        position: relative;
        margin-bottom: 2rem;
        cursor: default;

        .project-image {
            position: relative;
            overflow: hidden;
            border-radius: 3%;

            a {
                text-decoration: none;
            }

            img {
                max-width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .project-details-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 96, 96, 0.9); /* When activated 0.9 opacity */
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                opacity: 0; /* Hidden by default */
                transition: opacity 0.3s ease-in-out; /* Smooth transition effect */

                h3.card-title {
                    font-weight: bold;
                    color: $color-secondary;
                }
                p.card-technology {
                    margin-top: 0.2rem;
                    font-size: clamp(12px, 1.4vw, 14px);
                    font-weight: 600;
                    color: $color-foreground;
                    font-family: Andika;
                }
                .learn-more-button {
                    @include styled-button($color-secondary, $color-secondary);
                }
            }
        }

        &:hover {
            .project-details-overlay {
                opacity: 1;
                border-radius: 3%;
            }

            .project-image {
                transform: translateY(20px);
                transition: transform 0.5s;
            }
        }
    }
}