@import 'main';

h2.presentation-text {
    text-align: center;
    margin-bottom: 2rem;
    text-wrap: balance;
}

span.colorful {
    color: $color-fg-secondary;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    button.filter-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px 20px;
        margin: 0 5px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-fg;
        transition: color 0.3s ease-in-out;

        @include underline-effect(inline-block, -3px, $color-fg-secondary);
    }

    button.selected-filter {
        color: $color-fg-secondary;
        
        &:hover::after {
            width: 0%;
        }
    }
}

.project-cards-row {
    overflow: hidden;
    
    .project-card {
        position: relative;
        margin-bottom: 2rem;
        cursor: default;

        .project-image {
            position: relative;
            overflow: hidden;
            border-radius: 3%;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);

            a {
                text-decoration: none;
            }

            img {
                width: 100%;
                height: auto;
                border-radius: 5px;
            }

            .project-details-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 96, 96, 0.85); /* When activated 0.85 opacity */
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                opacity: 0; /* Hidden by default */
                transition: opacity 0.3s ease-in-out; /* Smooth transition effect */

                h3.card-title {
                    font-weight: bold;
                    color: $color-fg-secondary;
                }
                p.card-technology {
                    margin-top: 0.2rem;
                    font-size: clamp(12px, 1.4vw, 14px);
                    font-weight: 600;
                    color: $color-fg;
                    font-family: Andika;
                }
                .learn-more-button {
                    @include styled-button($color-fg-secondary, $color-fg-secondary);
                    margin: 0 3rem;
                    border-radius: 9999px;
                }
            }
        }

        &:hover {
            .project-details-overlay {
                opacity: 1;
                border-radius: 3%;
                border: 6px inset transparent;
                border-image: linear-gradient(60deg, #ffffffcc, #4ff5f5cc) 1;
            }

            .project-image {
                transform: translateY(20px);
                transition: transform 0.5s;
                img {
                    filter: blur(6px);
                    -webkit-filter: blur(6px);
                }
            }
        }
    }
}