<!-- Projects


{% block posthead %}
  {% set profile_image = resize_image(path=config.extra.profile_large, width=280, height=373, op="fill") %}
  <link rel="prefetch" href="{{ profile_image.url }}">
{% endblock posthead %}


<div>
    <nav class="nav-menu desktop-homepage-nav-menu">
        {% for link in config.extra.nav %}
        <a href="{{ link.path }}">{{ link.name }}</a>
        {% endfor %}
    </nav>
    <div class="profile">
        <div class="profile-container">
        <img src="{{ profile_image.url }}" alt="profile picture"/>
        </div>
    </div>
</div> -->