{% extends "base.html" %}

{% block title %}
  {{ taxonomy.name | title }} | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="tags.css") | safe }}">
{% endblock %}

{% block content %}
<div class="column right">
  <div class="tag-list">
    <a href="/blog" class="back-link">← Back to all posts</a>
    <h1>Tags</h1>
    <div class="tags-cloud">
      {% for term in terms %}
        {% if term.name | slugify == 'recommended' %}
          <a class="tag tag-recommended-plain" href="{{ term.permalink }}">
            {{ term.name | slugify | replace(from="-", to=" ") | title }}
            <span class="tag-count">{{ term.pages | length }}</span>
          </a>
        {% elif term.name | slugify == 'for-beginners' %}
          <a class="tag tag-for-beginners-plain" href="{{ term.permalink }}">
            {{ term.name | slugify | replace(from="-", to=" ") | title }}
            <span class="tag-count">{{ term.pages | length }}</span>
          </a>
        {% else %}
          <a class="tag tag-default-plain" href="{{ term.permalink }}">
            {{ term.name | slugify | replace(from="-", to=" ") | title }}
            <span class="tag-count">{{ term.pages | length }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %} 