{% extends "base.html" %}

{% block title %}
  {{ taxonomy.name | title }} | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="tags-list.css") | safe }}">
{% endblock %}

{% block content %}
  <div class="tag-list">
    {% if lang == "es" %}
      <a href="/es/blog" class="back-link">{{ trans(key="back_to_posts", lang=lang) }}</a>
    {% else %}
      <a href="/blog" class="back-link">{{ trans(key="back_to_posts", lang=lang) }}</a>
    {% endif %}
    <h1 class="tags-list-title">{{ trans(key="tags_title", lang=lang) }}</h1>
    <p class="tags-description">{{ trans(key="browse_tags_desc", lang=lang) }}</p>
    <div class="tags-cloud">
      {% for term in terms %}
        {% if term.name | slugify in config.extra.blog_post_tags %}
          <a class="tag tag-{{ term.name | slugify }}-plain" href="{{ term.permalink }}">
            {{ trans(key=term.name|slugify|replace(from="-", to="_"), lang=lang) }}
            <span class="tag-count">{{ term.pages | length }}</span>
          </a>
        {% else %}
          <a class="tag tag-default-plain" href="{{ term.permalink }}">
            {{ term.name | slugify | replace(from="-", to=" ") | title }}
            <span class="tag-count">{{ term.pages | length }}</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock content %} 