{% extends "base.html" %}
{% import "reading_card.html" as reading_card %}

{% block title %}
  {{ term.name | slugify | replace(from="-", to=" ") | title }} ({{ taxonomy.name | title }}) | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="categories-single.css") | safe }}">
{% endblock %}

{% block scripts %}
  <script src="{{ get_url(path="js/readings.js") | safe }}"></script>
{% endblock %}

{% block content %}
  <div class="category-single">
    <a href="/categories" class="back-link">← See all categories</a>
    <div class="category-header">
      <h1 class="categories-single-title">Books in category</h1>
      <span class="current-category category-{{ term.name | slugify }}-plain" data-category="{{ term.name | slugify }}">
        {{ term.name | slugify | replace(from="-", to=" ") | title }}
      </span>
    </div>
    
    <div class="readings-grid">
      {% for page in term.pages | sort(attribute="date") | reverse %}
        {{ reading_card::reading_card(page=page) }}
      {% endfor %}
    </div>
  </div>
{% endblock content %}
