<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
              {% if page.title %}
                {{ page.title }}
              {% else %}
                {{ config.title }}
              {% endif %}
            {% endblock title %}
        </title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Inter:wght@400;600;700&family=Raleway:wght@400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <link rel="stylesheet" href="{{ get_url(path='fonts.css') }}">
        <link rel="stylesheet" href="{{ get_url(path='fontawesome/css/fontawesome.css') }}">

        {% block styles%} {% endblock %}
    </head>
    <body>
        <main>
            {% block content %} {% endblock content %}
        </main>
        <footer>
            <p class="text-center">Copyright © 2023 Cosme</p>
        </footer>

        <!-- This is projects.js -->
        <script>
            const ALL_FILTER_VALUE = "All";
            const JAVA_FILTER_VALUE = "Java";
            const JAVASCRIPT_FILTER_VALUE = "JavaScript";

            document.addEventListener("DOMContentLoaded", function () {
                const filterButtons = document.querySelectorAll(".filter-button");
                const projectCards = document.querySelectorAll(".project-card");
                const animationClasses = ["animate__bounceInLeft", "animate__bounceIn", "animate__bounceInRight"];
                let currentSelectedFilter = ALL_FILTER_VALUE; // Start with "All" selected initially
                let previousVisibleCards = Array.from(projectCards).map((card, index) => ({
                    card: card,
                    position: index
                })); // Initialize with the first set of visible cards and their positions

                
                filterButtons.forEach((button) => {
                    button.addEventListener("click", () => {
                        const selectedFilter = button.getAttribute("data-filter");

                        // When clicking a filter: 1st time-> blue, 2nd time-> All is triggered
                        if (currentSelectedFilter !== selectedFilter) {
                            const prevButton = document.querySelector(`[data-filter="${currentSelectedFilter}"]`);
                            prevButton.classList.remove("selected-filter");
                            button.classList.add("selected-filter");
                            currentSelectedFilter = selectedFilter;
                        } else {
                            if (currentSelectedFilter !== ALL_FILTER_VALUE) {
                                const allButton = document.querySelector(`[data-filter=${ALL_FILTER_VALUE}]`);
                                allButton.classList.add("selected-filter");
                                button.classList.remove("selected-filter");
                                currentSelectedFilter = ALL_FILTER_VALUE;
                            }
                        }

                        // Filter cards
                        const visibleCards = Array.from(projectCards).filter((card) => {
                            const cardTechnology = card.querySelector(".card-technology").textContent;
                            return currentSelectedFilter === ALL_FILTER_VALUE ||
                                (cardTechnology.includes(currentSelectedFilter) &&
                                !(currentSelectedFilter === JAVA_FILTER_VALUE && cardTechnology.includes(JAVASCRIPT_FILTER_VALUE)));
                        });

                        // Cards reappear with their new animation, except those that have same the position
                        visibleCards.forEach((card, index) => {
                            const previousCardIndex = previousVisibleCards.findIndex(prevCard => prevCard.card === card);
                            if (previousCardIndex !== -1 && previousVisibleCards[previousCardIndex].position === index) {
                                return; // Skip cards with unchanged position
                            }

                            card.style.display = "none";
                            setTimeout(() => {
                                card.style.display = "block";
                                card.classList.add(animationClasses[index % 3]);
                                card.classList.remove(animationClasses[(index + 1) % 3]);
                                card.classList.remove(animationClasses[(index + 2) % 3]);
                            }, 1);
                        });

                        // Display none to not filtered cards
                        projectCards.forEach((card) => {
                            if (!visibleCards.includes(card)) {
                                card.style.display = "none";
                            }
                        });

                        // Update previousVisibleCards with current positions
                        previousVisibleCards = visibleCards.map((card, index) => ({
                            card: card,
                            position: index
                        }));
                    });
                });
            });

        </script>
        <!-- END: Projects.js -->


        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
        <!-- <script src="{{ get_url(path="static/js/app.js") }}"></script> -->
    </body>
</html>


