{% extends "base.html" %}

{% block title %}
  Blog | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="blog.css") | safe }}">
{% endblock %}

{% block content %}
<div class="column right">
  <div class="blog-cards">
    {% for post in section.pages %}
    <a class="blog-card" href="{{ post.permalink }}">
      <h3 class="blog-title">{{ post.title }}</h3>
      <div class="blog-card-details">
        <p class="card-description"> {{ post.description }} </p>
        <span class="card-date"> {{ post.date | date(format="%B %d, %Y") }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
