{% extends "base.html" %}

{% block title %}
  Blog | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="blog.css") | safe }}">
{% endblock %}

{% block content %}
<div class="column right">

    <nav class="nav-projects">
        <ul>
        <li>
            <a href="/">
            <img class="portrait-projects" src="{{ get_url(path='images/portrait2.jpg') }}" alt="Portrait" />
            </a>
        </li>
        <!-- <li><a href="/projects">Projects</a></li> -->
        </ul>
    </nav>
    <hr>
    <div class="blog-post">
    <h1>{{ page.title }}</h1>
    <div class="post-content">
        {{ page.content | safe }}
    </div>
    </div>
</div>
{% endblock content %}
