{% extends "base.html" %}

{% block title %}
  Home | Cosme
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ get_url(path="index.css") | safe }}">
{% endblock %}

{% block content %}
    <div class="column left">
        <nav class="nav-index">
            <ul>
                <!-- <li><a href="/">Home</a></li> -->
                <li class="animate__animated animate__fadeInUp">
                    <a class="projects-button" href="/projects">Projects</a>
                </li>
            </ul>
        </nav>
        <img class="portrait-index animate__animated animate__rotateInDownLeft" src="{{ get_url(path='images/portrait2.jpg') }}" alt="Portrait" />
    </div>
    <div class="column right">
        <h1 class="mt-5">Hello!</h1>
        <h2 class="presentation"><span class="less-opacity">I am</span> Cosme</h2>
        <p class="description">👉🏼 With a profound affinity for software, I actively promote <span class="bold">clean code</span> and <span class="bold">agile dynamics.</span> I thrive in rapidly evolving environments, readily embracing new knowledge and translating it into impactful results.</p>
        {% if config.extra.links %}
            <div class="links">
                <p class="call-to-action">You can also find me here!</p>
                <div class="row">
                    {% for link in config.extra.links %}
                        <div class="col-12 col-sm-6 animate__animated animate__fadeInUp">
                            <a rel="me" href="{{ link.url }}" title="{{ link.title }}" target="_blank">
                                {% if link.iconset %}
                                    <span class="{{ link.iconset }} {{ 'fa-' ~ link.icon }}"></span>
                                {% else %}
                                    <span class="fab {{ 'fa-' ~ link.icon }}"></span>
                                {% endif %}
                                
                                {{ link.title }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}