{% extends "base.html" %}

{% block title %}
  Projects | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="projects.css") | safe }}">
{% endblock %}

{% block scripts %}
<script src="{{ get_url(path="js/projects.js") | safe }}"></script>
{% endblock %}

{% block content %}
<div class="column right">
  <h1>Projects</h1>
  <p class="projects-intro">Projects I've built using different technologies.</p>

  <!-- FILTER -->
  <div class="filter-buttons">
    <div class="toggle-buttons-wrapper">
      <button class="filter-toggle-button">
        <i class="fas fa-filter filter-icon"></i>
        <i class="fas fa-close close-icon no-show"></i>
        <span>Filter</span>
      </button>
  
      <button class="toggle-hover-button">
        <i class="fas fa-eye"></i>
        <i class="fas fa-eye-slash no-show"></i>
        <span>Quick View</span>
      </button>
    </div>
  
    <div class="filter-dropdown">
      <button class="filter-button selected-filter" data-filter="All">
        <i class="fas fa-layer-group"></i>
        All
      </button>
  
      <button class="filter-button" data-filter="React">
        <i class="fab fa-react"></i>
        React
      </button>
  
      <button class="filter-button" data-filter="Angular">
        <i class="fab fa-angular"></i>
        Angular
      </button>
  
      <button class="filter-button" data-filter="Node">
        <i class="fab fa-node-js"></i>
        Node
      </button>
  
      <button class="filter-button" data-filter="Java">
        <i class="fab fa-java"></i>
        Java
      </button>
  
      <button class="filter-button" data-filter="Android">
        <i class="fab fa-android"></i>
        Android
      </button>
    </div>
  </div>
  
  <!-- END: FILTER -->

  <!-- CARDS -->
  <div class="row project-cards-row">

    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/AquaMesh.png') }}" alt="AquaMesh" />
        <div class="project-details-overlay">
          <h3 class="card-title">AquaMesh</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-react"></i>React</span>
            <span class="tag"><i class="fas fa-cube"></i>Microfrontends</span>
            <span class="tag"><i class="fas fa-puzzle-piece"></i>No-Code</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/AquaMesh" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </a>
            <!-- <a class="card-button" href="https://codesandbox.io/p/github/CosmeValera/CoreLink/corelink-portfolio" target="_blank">
              <span class="tag"><i class="fas fa-link"></i>Live Demo</span>
            </a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInRight">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/FitCal.png') }}" alt="FitCal" />
        <div class="project-details-overlay">
          <h3 class="card-title">FitCal</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-angular"></i>Angular</span>
            <span class="tag"><i class="fas fa-code"></i>TypeScript</span>
            <span class="tag"><i class="fab fa-java"></i>Java (Spring)</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/FitCal" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/Sympho.png') }}" alt="Sympho" />
        <div class="project-details-overlay">
          <h3 class="card-title">Sympho</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-square-js"></i>JavaScript</span>
            <span class="tag"><i class="fab fa-node-js"></i>Node</span>
            <span class="tag"><i class="fas fa-music"></i>Vexflow.js</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/Sympho" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  
    <!-- NEW PROJECT WITH K8s, Helm WILL BE HERE -->
    <!-- <div class="project-card col-12 col-md-6 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/Sympho.png') }}" alt="Sympho" />
        <div class="project-details-overlay">
          <h3 class="card-title">MICE ELECTION</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-square-js"></i>K8s</span>
            <span class="tag"><i class="fab fa-node-js"></i>Helm</span>
            <span class="tag"><i class="fas fa-music"></i>Kafka</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/Sympho" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInRight">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/LeagueOfPokemon.png') }}" alt="League of Pokemon" />
        <div class="project-details-overlay">
          <h3 class="card-title">League of Pokemon</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-java"></i>Java (Swing)</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/LeagueOfPokemon" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/AndroidDepartmentQuest.jpg') }}" alt="AndroidDepartmentQuest" />
        <div class="project-details-overlay">
          <h3 class="card-title">Department Quest</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-java"></i>Java (Android)</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/AndroidDepartmentQuest" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  
    <div class="project-card col-12 col-md-6 animate__animated animate__bounceInRight">
      <div class="project-image">
        <img src="{{ get_url(path='images/projects/Inventory.png') }}" alt="Inventory" />
        <div class="project-details-overlay">
          <h3 class="card-title">Inventory</h3>
          <p class="card-technology">
            <span class="tag"><i class="fab fa-square-js"></i>JavaScript</span>
            <span class="tag"><i class="fab fa-node-js"></i>Node</span>
            <span class="tag"><i class="fas fa-leaf"></i>MongoDB</span>
          </p>
          <div class="card-buttons">
            <a class="card-button" href="https://github.com/CosmeValera/Inventory" target="_blank">
              <span class="tag"><i class="fab fa-github"></i>GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END: CARDS -->

</div>
{% endblock content %}
