{# project_card.html #}
{% macro project_card(image_path, title, technology, github_link) %}
<div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceInLeft">
  <div class="project-image">
    <img src="{{ image_path }}" alt="{{ title }}" />
    <div class="project-details-overlay">
      <h3 class="card-title">{{ title }}</h3>
      <p class="card-technology">{{ technology }}</p>
      <a class="learn-more-button" href="{{ github_link }}" target="_blank">Learn More</a>
    </div>
  </div>
</div>
{% endmacro %}
