{% extends "base.html" %}

{% block title %}
  Projects | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="projects.css") | safe }}">
{% endblock %}

{% block scripts %}
<script src="{{ get_url(path="js/projects.js") | safe }}"></script>
{% endblock %}

{% block content %}
<div class="column right">
  <nav class="nav-shared">
    <ul>
      <li>
        <a href="/">
          <img class="portrait-menu-item" src="{{ get_url(path='images/portrait2.jpg') }}" alt="Portrait" />
        </a>
      </li>
      {% for item in config.extra.nav %}
        <li class="animate__animated animate__fadeInUp">
          <a class="{{ item.class }}" href="{{ item.path }}">{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <hr>

  <h2 class="presentation-text">Here are some of my projects:</h2>

  <div class="filter-buttons">
    <button class="filter-button selected-filter" data-filter="All">All</button>
    <button class="filter-button" data-filter="Java">Java</button>
    <button class="filter-button" data-filter="JavaScript">JS+Node</button>
    <button class="filter-button" data-filter="Angular">Angular</button>
    <button class="filter-button" data-filter="Android">Android</button>
  </div>


  <div class="row project-cards-row">

    <div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/FitCal.png') }}" alt="FitCal" />
        <div class="project-details-overlay">
          <h3 class="card-title">FitCal</h3>
          <p class="card-technology">Angular / TypeScript / Java (Spring)</p>
          <a class="learn-more-button" href="https://github.com/CosmeValera/FitCal" target="_blank">Learn More</a>
        </div>
      </div>
    </div>
  
    <div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceIn">
      <div class="project-image">
        <img src="{{ get_url(path='images/Sympho.png') }}" alt="Sympho" />
        <div class="project-details-overlay">
          <h3 class="card-title">Sympho</h3>
          <p class="card-technology">JavaScript / Node / Vexflow.js</p>
          <a class="learn-more-button" href="https://github.com/CosmeValera/Sympho" target="_blank">Learn More</a>
        </div>
      </div>
    </div>

    <div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceInRight">
      <div class="project-image">
        <img src="{{ get_url(path='images/LeagueOfPokemon/AI4Crop.png') }}" alt="League of Pokemon" />
        <div class="project-details-overlay">
          <h3 class="card-title">League of Pokemon</h3>
          <p class="card-technology">Java</p>
          <a class="learn-more-button" href="https://github.com/CosmeValera/LeagueOfPokemon" target="_blank">Learn More</a>
        </div>
      </div>
    </div>

    <div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceInLeft">
      <div class="project-image">
        <img src="{{ get_url(path='images/AndroidDepartmentQuest.jpg') }}" alt="AndroidDepartmentQuest" />
        <div class="project-details-overlay">
          <h3 class="card-title">Department Quest</h3>
          <p class="card-technology">Java (Android)</p>
          <a class="learn-more-button" href="https://github.com/CosmeValera/AndroidDepartmentQuest" target="_blank">Learn More</a>
        </div>
      </div>
    </div>
  
    <div class="project-card col-12 col-md-6 col-lg-4 animate__animated animate__bounceIn">
      <div class="project-image">
        <img src="{{ get_url(path='images/Inventory.png') }}" alt="Inventory" />
        <div class="project-details-overlay">
          <h3 class="card-title">Inventory</h3>
          <p class="card-technology">JavaScript / Node / MongoDB</p>
          <a class="learn-more-button" href="https://github.com/CosmeValera/Inventory" target="_blank">Learn More</a>
        </div>
      </div>
    </div>

  </div>

</div>
{% endblock content %}
