{% extends "base.html" %}
{% import "reading_card.html" as reading_card %}

{% block title %}
  Readings | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="readings.css") | safe }}">
{% endblock %}

{% block content %}
  <div class="readings">
    <h1>Readings</h1>
    <p class="readings-intro">A collection of books I've read and my thoughts on them.</p>
    
    <div class="readings-grid">
      {% for page in section.pages | sort(attribute="date") | reverse %}
        {{ reading_card::reading_card(page=page) }}
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block scripts %}
<script src="{{ get_url(path="js/readings.js") | safe }}"></script>
{% endblock %}
