
{% macro container(page,orderDesc=true) %}
<div class="related-container">

  {% if page.higher %}
  <div class="link">
    <span>{% if orderDesc %}Previous post{% else %}Next post{% endif %}</span>
    <a href="{{ page.higher.permalink }}">{{ page.higher.title }}</a>
  </div>
  {% endif %}

  {% if page.lower %}
  <div class="link">
    <span>{% if orderDesc %}Next post{% else %}Previous post{% endif %}</span>
    <a href="{{ page.lower.permalink }}">{{ page.lower.title }}</a>
  </div>
  {% endif %}

</div>
{% endmacro %}