{% extends "base.html" %}

{% block title %}
  Sponsor | Cosme
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ get_url(path="sponsor.css") | safe }}">
{% endblock %}

{% block content %}

<div class="column right">
    <div id="sponsor">
        <h1>Become a Sponsor</h1>
        <section id="section-contribution">
            <!-- Lightning Network Donations Section -->
            <div class="contribution">
                <h2 class="contribution-title">
                    <i class="fa-solid fa-bolt"></i>&nbsp;&nbsp; Lightning Network Donations
                </h2>
                <p class="contribution-subtitle">
                    Support my work with a Bitcoin Lightning Network payment
                </p>
                <p class="contribution-description">
                    Lightning Network enables instant, low-cost Bitcoin payments. It's perfect for supporting creators and developers!
                </p>
                <div class="donation-options">
                    <a
                    class="btn-donate lightning"
                    target="_blank"
                    href="https://getalby.com/p/cosmevalerareales"
                    title="Bitcoin Lightning Network"
                    >
                        <i class="fa-solid fa-bolt"></i> Send Bitcoin via Lightning
                    </a>
                </div>
            </div>
        </section>

        <hr class="common-hr">
        
        <section id="section-tiers">
            <div>
                <p> Choose a sponsorship tier that reflects your level of support. </p>
                <h2>
                    Sponsorship Tiers
                </h2>
                <div class="tier-cards">
                    <div class= "tier-card tier-card-silver">
                        <div class= "tier-card-header">
                            <h1>⭐ Silver Supporter</h1>
                            <small>
                            For those who appreciate open-source and want to contribute.
                            </small>
                        </div>
                        <hr class="tier-card-hr">
                        <div class= "tier-card-content">
                            <p>$2/month</p>
                            <ul>
                                <li> ⭕ Get a Sponsor badge on your GitHub profile.</li>
                                <li> ⭕ Ideal for frontend enthusiasts and supporters of open-source.</li>
                            </ul>
                        </div>
                        </div>

                        <div class="tier-card tier-card-gold">
                        <div class="tier-card-header">
                            <h1>⚡ Gold Supporter</h1>
                            <small>
                                For those who want to make a meaningful impact.
                            </small>
                        </div>
                        <hr class="tier-card-hr">
                        <div class="tier-card-content">
                            <p>$4/month</p>
                            <ul>
                                <li> ⭕ A mention in my sponsors page 😊 </li>
                                <li> ⭕ Contribute directly to building better UI components and tools </li>
                            </ul>
                        </div>
                        </div>
                        <div class="tier-card tier-card-platinum">
                        <div class="tier-card-header">
                            <h1>🏆 Platinum Supporter</h1>
                            <small>
                                For organizations and individuals who truly believe in my mission.
                            </small>
                        </div>
                        <hr class="tier-card-hr">
                        <div class="tier-card-content">
                            <p>$12/month</p>
                            <ul>
                            <li> ⭕ A mention in my sponsors page ⭐️ </li>
                            <li> ⭕ Help shape the future of frontend libraries and design systems </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-reasons-sponsor">
            <h2 class="sponsor-title">Why Become a Sponsor?</h2>
            <div class="sponsor-features">
                <div class="sponsor-feature">
                    <h1>💓</h1>
                    <h3 class="feature-title">Support Open Source</h3>
                    <p>
                    Help maintain projects like
                    <a target="_blank" href="https://github.com/CosmeValera/AquaMesh/">AquaMesh</a>,
                    <a target="_blank" href="https://github.com/CosmeValera/FitCal/">Fitcal</a>
                    and <a target="_blank" href="https://github.com/CosmeValera/Sympho/">Sympho</a>.
                    </p>
                </div>
                <div class="sponsor-feature">
                    <h1>⚡</h1>
                    <h3 class="feature-title">Amplify Impact</h3>
                    <p>
                    Your support drives the growth of developer tools and the OS community.
                    </p>
                </div>
                <div class="sponsor-feature">
                    <h1>⭐</h1>
                    <h3 class="feature-title">Direct Access and Insights</h3>
                    <p>
                    Unlock a unique view into my projects and join their evolving journey.
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
