{% extends "base.html" %}

{% block title %}
  {{ trans(key="sponsor", lang=lang) }} | Cosme
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ get_url(path="sponsor.css") | safe }}">
{% endblock %}

{% block content %}
<div class="sponsor">
    <div id="sponsor-inner">
        <h1 id="sponsor-title">{{ trans(key="become_sponsor", lang=lang) }}</h1>
        <section id="section-contribution">
            <!-- Lightning Network Donations Section -->
            <div class="contribution">
                <h2 class="contribution-title">
                    <i class="fa-solid fa-bolt"></i>&nbsp;&nbsp; {{ trans(key="lightning_donation", lang=lang) }}
                </h2>
                <p class="contribution-subtitle">
                    {{ trans(key="support_work", lang=lang) }}
                </p>
                <p class="contribution-description">
                    {{ trans(key="lightning_description", lang=lang) }}
                </p>
                <div class="donation-options">
                    <a
                    class="btn-donate lightning"
                    target="_blank"
                    href="https://getalby.com/p/cosmevalerareales"
                    title="Bitcoin Lightning Network"
                    >
                        <i class="fa-solid fa-bolt"></i> {{ trans(key="send_bitcoin", lang=lang) }}
                    </a>
                </div>
            </div>
        </section>

        <section id="section-reasons-sponsor">
            <h2 class="sponsor-title">{{ trans(key="why_sponsor", lang=lang) }}</h2>
            <div class="sponsor-features">
                <div class="sponsor-feature">
                    <h1>💓</h1>
                    <h3 class="feature-title">{{ trans(key="support_opensource", lang=lang) }}</h3>
                    <p>
                    {{ trans(key="help_maintain", lang=lang) }}
                    <a target="_blank" href="https://aquamesh.cosmevalera.dev/">AquaMesh</a>,
                    and <a target="_blank" href="https://devopslab.cosmevalera.dev/">DevOpsLab</a>.
                    </p>
                </div>
                <div class="sponsor-feature">
                    <h1>⭐</h1>
                    <h3 class="feature-title">{{ trans(key="direct_access", lang=lang) }}</h3>
                    <p>
                    {{ trans(key="direct_access_desc", lang=lang) }}
                    </p>
                </div>
                <div class="sponsor-feature">
                    <h1>⚡</h1>
                    <h3 class="feature-title">{{ trans(key="support_bitcoin", lang=lang) }}</h3>
                    <p>
                    {{ trans(key="support_bitcoin_desc", lang=lang) }}
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock content %}
