{% extends "base.html" %}

{% block title %}
  Tags | Cosme
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ get_url(path="taxonomy.css") | safe }}">
{% endblock %}

{% block content %}
<div class="column right">
  <div class="taxonomy-list">
    <a href="/blog" class="back-link">← Back to all posts</a>
    <h1>Tags</h1>
    <div class="tags-cloud">
      {% for term in terms %}
        <a class="tag" href="{{ term.permalink }}">
          {{ term.name | slugify | replace(from="-", to=" ") | title }}
          <span class="tag-count">{{ term.pages | length }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
