.lateral-menu-container {
    .fab-button.scrolling-down {
        background: rgba(255,255,255,0.15);  /* translucent “glass” */

        opacity: 0.65;
        
        & .fab-button-i.fa-bars {
            -webkit-text-fill-color: transparent; /* Makes the fill transparent, leaving only the stroke */
            -webkit-text-stroke: 2px currentColor;
            text-stroke: 2px currentColor; /* Standard property for future support */
        }

        &.active {
            background: linear-gradient(135deg, 
                rgba(0,0,0, 0.35) 0%, 
                rgba(0,0,0, 0.55) 100%
            );
        }
    }
}